@font-face {
    font-family: arcadeclassic;
    src: url(arcadeclassic.regular.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: arcadeclassic;
}

body {
    background-color: black;
    color: #f5f0f0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Page */
.main {
    width: 100%;
    height: 85%;
    position: relative;
    top: 15%;
}

h1 {
    text-align: center;
    font-size: 50px;
    width: 100%;
    height: 100px;
}

h3 {
    text-align: center;
    position: relative;
    color: #323232;
    font-size: 30px;
    height: auto;
}

button {
    height: 30px;
    width: 200px;
    color: black;
    background-color: yellow;
    text-align: center;
    font-size: 20px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main button {
    position: relative;
    margin-top: 40px;
}

.warn {
    width: 500px;
    height: 100px;
    background-color: #f5f0f0;
    left: 50%;
    top: 40px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    padding: 5px;
}

.warn h2 {
    height: auto;
    width: auto;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.warn p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.legal {
    bottom: 0;
    position: absolute;
    height: auto;
    background-color: #323232;
}

.legal p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: auto;
}

.legal p b {
    font-family: Arial, Helvetica, sans-serif;
}

/* Choice Pages */
.queshtion {
    height: 5%;
}

.queshtion h1 {
    font-size: 4vh;
    height: 100%;
}

.options {
    top: 5%;
    position: absolute;
}

.options div {
    width: 50%;
    height: 100%;
    position: absolute;
    filter: saturate(0);
    transition: all .2s ease-in-out;
    box-shadow: inset 0px 0px 150px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    right: 0;
}

.options div:hover {
    filter: saturate(1);
    transform: scale(1.01);
    box-shadow: none;
}

.ann {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 20vh;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #323232;
    border-color: #f5f0f0;
    border-width: 5px;
    border-style: solid;
    color: #f5f0f0;
    display: none;
}

.ann p {
    width: auto;
    height: auto;
    text-align: center;
    margin: 10px;
    font-size: 14pt;
}

.ann p i {
    font-family: Arial, Helvetica, sans-serif;
}

.ann iframe {
    width: 700px;
    height: 350px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ann button {
    position: absolute;
    bottom: 20px;
}

/* Ending Pages */
.ending {
    width: 90%;
    height: 90vh;
    position: relative;
    margin: auto;
}

.ending p {
    width: auto;
    height: 40px;
    text-align: center;
    font-size: 30pt;
    margin-bottom: 5px;
}

.ending iframe {
    width: 100%;
    height: 80vh;
}

.ending_button {
    position: absolute;
}

.ending2 {
    width: 90%;
    height: 100%;
    position: relative;
    margin: auto;
    overflow-y: auto;
}

.ending2 p {
    height: auto;
    text-align: center;
    font-size: 30pt;
    position: relative;
}

.ending2 a {
    color: yellow;
}

.ending2 img {
    width: initial;
    max-width: 600px;
    height: initial;
    position: relative;
    margin-top: 15px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.info {
    font-size: 18pt !important;
    font-family: Arial, Helvetica, sans-serif;
}