body {
    background-image: url("../images/home-bg.jpg");
    background-size: cover;
}
.container {
    padding: 0;
    width: fit-content;
    margin-top: 65px;
    margin-bottom: 15px;
}
.col {
    padding: 0;
}
.blur-background {
    background: rgba(245, 245, 245, 0.2);
    border-radius: 8px;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.15);
    padding: 15px;
    display: block;
    position: relative;
    width: 300px;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .blur-background {
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
    }
}
.profile-pic {
    width: 100px;
    margin-top: -65px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.15);
}
h1 {
    margin-top: 8px;
}
.social-links i {
    font-size: 30px;
}
.left {
    text-align: left;
    float: left;
}
.item {
    border-radius: 8px;
    padding: 8px;
    width: auto;
    background: rgba(255, 255, 255, 0.7);
}
.item:not(:last-child) {
    margin: 10px 0 20px 0;
}
.sub-item:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.sub-item:not(:last-child) {
    padding-bottom: 3px;
}
.row div.ax {
    width: 33px;
    height: 33px;
    border-radius: 50px;
    margin-top: 4px;
    margin-right: 8px;
}
.row i.bx {
    font-size: 20px;
}
.row p {
    margin: 0;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;
}
.row h4 {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.95rem;
}
#map {
    height: 100px;
    margin-top: 10px;
}
#map .mapboxgl-canvas {
    border-radius: 8px;
}
#no-desk {
    width: 100%;
    height: calc(100% + 80px);
    position: absolute;
    top: -65px;
    border-radius: 0;
    padding: 0;
    display: block;
}
@media (max-width: 991px) {
    #no-desk {
        display: none;
    }
}

#no-desk div i {
    font-size: 40px;
    background: none;
}
#no-desk div h4 {
    color: #fff;
}
.no-desk-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 8px;
}
.no-desk-container div:last-child {
    margin-top: 8px;
}
.no-desk-button {
    background: rgba(255, 255, 255, 0.35);
    width: 50%;
    margin-top: 8px;
    border-radius: 8px;
}
.no-desk-button:hover {
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.no-desk-button i {
    font-size: 30px !important;
    margin-right: 8px;
}
.no-desk-button p {
    color: rgba(255, 255, 255, 0.7);
}
