/*======================
        HEADER
========================*/

.header {
    margin-top: 20px;
}

.header .logo {
    width: 50px;
}

.header h1 {
    color: var(--bg-light) !important;
    margin-top: 10px;
}

.header p {
    color: var(--bg-light) !important;
    margin-top: 15px !important;
}

.header-height-adjust {
    height: 220px;
    width: 100%;
    overflow: hidden;
}

.header-height-adjust::before {
    content: "";
    background-color: var(--accent-dark);
    display: block;
    width: 120vw;
    height: 220px;
    left: -10vw;
    position: absolute;
    right: 0;
    top: -10vw;
    bottom: 0;
    transform: rotate(-10deg);
    z-index: 0;
}

.header-height-adjust::after {
    content: "";
    background-color: var(--bg-dark);
    display: block;
    width: 120vw;
    height: 220px;
    left: -10vw;
    position: relative;
    right: 0;
    bottom: 50px;
    transform: rotate(-10deg);
    z-index: -1;
}

.cover-img {
    width: 130px;
    height: 130px;
    position: relative;
    float: right;
    right: -25px;
    top: -90px;
    z-index: 2;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-about {
    padding: 10px;
}

/*======================
        ITEMS
========================*/

.item {
    border-radius: 8px;
    padding: 8px;
    width: auto;
    margin: 10px 0 20px 0;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.item i {
    font-size: 20px;
    margin-top: 10px;
}

.item p {
    margin: 0;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;
}

.item h4 {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
}

/*======================
        NO DESK
========================*/

#no-desk {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: block;
    z-index: 1000000;
    background: var(--bg-light);
}

@media (max-width: 991px) {
    #no-desk {
        display: none;
    }
}

#no-desk .container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    background: var(--bg-dark);
    border-radius: 8px;
}

#no-desk .container div:last-child {
    margin-top: 8px;
}

#no-desk i {
    color: var(--red);
}
