.col {
    padding: 0;
}

/*======================
        HEADER
========================*/

h1 {
    margin-top: 15px;
    font-weight: bold;
}

h1 span {
    font-size: 15px;
    color: rgba(252, 251, 249, 0.4);
}

.header .logo {
    width: 50px;
}

.header h1 {
    color: var(--bg-light) !important;
    margin-top: 15px;
}

.header p {
    color: var(--bg-light) !important;
    margin-top: 30px !important;
}

.header-height-adjust {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header-height-adjust::after {
    content: "";
    background-color: #f4f0e9;
    display: block;
    width: 120%;
    height: 180px;
    left: 0;
    position: relative;
    right: 0;
    bottom: 80px;
    transform: rotate(-10deg);
}

.cover-img {
    width: 200px;
    height: 200px;
    position: relative;
    float: right;
    right: -25px;
    z-index: 2;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.social-links {
    padding-top: 15px;
}

.social-links i {
    font-size: 20px;
}

.left {
    text-align: left;
    float: left;
}

/*======================
        ITEMS
========================*/

.item {
    border-radius: 8px;
    padding: 8px;
    width: auto;
    margin: 10px 0 20px 0;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.row div.ax {
    width: 33px;
    height: 33px;
    border-radius: 50px;
    margin-top: 4px;
    margin-right: 8px;
}

.row i.bx {
    font-size: 20px;
}

.row p {
    margin: 0;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;
}

.row h4 {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.95rem;
}

/*======================
        NO DESK
========================*/

.blur-background {
    background: rgba(245, 245, 245, 0.2);
    border-radius: 8px;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.15);
    padding: 15px;
    display: block;
    position: relative;
    width: 300px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .blur-background {
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
    }
}

#no-desk {
    width: 100%;
    height: calc(100% + 80px);
    position: absolute;
    top: -65px;
    border-radius: 0;
    padding: 0;
    display: block;
    z-index: 1000000;
}

@media (max-width: 991px) {
    #no-desk {
        display: none;
    }
}

#no-desk div i {
    font-size: 40px;
    background: none;
}

#no-desk div h4 {
    color: #fff;
}

.no-desk-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 8px;
}

.no-desk-container div:last-child {
    margin-top: 8px;
}

.no-desk-button {
    background: rgba(255, 255, 255, 0.35);
    width: 50%;
    margin-top: 8px;
    border-radius: 8px;
}

.no-desk-button:hover {
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.no-desk-button i {
    font-size: 30px !important;
    margin-right: 8px;
}

.no-desk-button p {
    color: rgba(255, 255, 255, 0.7);
}
