@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*======================
        BASIC
========================*/

/* Color Pallette */
:root {
    --bg-light: #fcfbf9;
    --bg-dark: rgba(240, 235, 227, 0.5);
    --accent-light: #ffffff;
    --accent-dark: #1e1e1e;
    --accent-color: #cd9f35;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background-color: var(--bg-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", serif;
}

h2 {
    font-weight: 400;
    letter-spacing: 0.1em;
    font-variant-caps: small-caps;
}

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
    font-weight: 600 !important;
}

a,
a:hover,
a:focus,
button,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.back_top {
    text-align: center;
    position: fixed;
    bottom: 15px;
    height: 35px;
    width: 35px;
    background-color: var(--accent-dark);
    display: none;
    z-index: 10000;
    border-radius: 3px;
    right: 20px;
    transition: all 0.5s;
}

.back_top i {
    color: var(--accent-light);
    line-height: 35px;
    font-size: 12px;
    display: block;
}

/*==========================
        HELPER
============================*/

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.bg-dark {
    background-color: var(--bg-dark) !important;
}

.bg-black {
    background-color: var(--accent-dark) !important;
}

.text-dark {
    color: var(--accent-dark) !important;
}

.text-muted {
    color: #777 !important;
}

.text-white {
    color: var(--accent-light) !important;
}

.btn-custom {
    padding: 12px 26px;
    background-color: var(--accent-dark);
    border: 2px solid var(--accent-dark);
    color: var(--accent-light);
    transition: all 0.5s;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color: var(--accent-light);
    border-color: var(--accent-dark);
    color: var(--accent-dark);
}

/*==========================
        NAVBAR
============================*/

.custom-nav {
    padding: 8px 0;
    width: 100%;
    border-radius: 0;
    z-index: 999;
    margin-bottom: 0;
    background-color: var(--accent-dark);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom-nav .navbar-nav li a {
    color: var(--accent-light);
    font-size: 0.75rem;
    padding: 15px 0;
    position: relative;
    margin: 0 7px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    transition: all 0.4s;
}

.custom-nav .navbar-nav li.active a:before,
.custom-nav .navbar-nav li:hover a:before,
.custom-nav .navbar-nav li:active a:before {
    opacity: 1;
}

.custom-nav .navbar-nav li a:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10%;
    height: 6px;
    width: 6px;
    background: var(--accent-light);
    border-radius: 50%;
    opacity: 0;
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: var(--accent-light);
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.logo {
    display: inline-block;
}

.custom-nav .navbar-brand.logo img {
    height: 28px;
}

/*==========================
        HOME
============================*/

.home-bg {
    background-color: var(--accent-dark);
    color: var(--accent-color);
}

.header_title {
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
}

.header_subtitle {
    line-height: 2;
    font-size: 18px;
}

.social li a {
    transition: all 0.3s;
    font-size: 18px;
    display: inline-block;
    width: 30px;
    color: var(--accent-color);
}

.social li a:hover {
    transform: rotate(360deg);
}

/*===========================
        EDUCATION
=============================*/

.cv_edu_exp {
    padding: 10px 0;
    position: relative;
}

.cv_edu_exp::after {
    content: "";
    height: 100%;
    left: 0;
    background-color: #dfe1e5;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}

.cv_edu_exp .cv_edu_exp_box {
    border-radius: 7px;
    border: 1px solid #dfe1e5;
    margin-left: 20px;
    padding: 20px;
    background-color: var(--bg-light);
}

.cv_edu_exp .cv_edu_exp_box .cv_edu_exp_year {
    position: relative;
    margin: 0 0 10px 15px !important;
}

.cv_edu_exp .cv_edu_exp_box .cv_edu_exp_year::after {
    border: 3px solid var(--accent-light);
    border-radius: 50%;
    content: "";
    height: 20px;
    background-color: #000;
    position: absolute;
    left: -65px !important;
    width: 20px;
    z-index: 1;
}

.cv_edu_exp .cv_edu_exp_box .cb_edu_exp_detail {
    text-align: left;
    margin-left: 15px;
    float: left;
    border-radius: 0;
}

.cv_edu_exp h4,
.cb_edu_exp_detail h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
}

.cv_desc {
    line-height: 26px;
    font-size: 15px;
    color: #666;
}

/*===========================
        WORK
=============================*/

.work_menu li {
    margin-right: 0px !important;
}

.work_menu li:after {
    content: "*";
    top: 3px;
    position: relative;
    display: inline-block;
    color: #bbb;
    margin: 0px 8px;
}

.work_menu li:last-child:after {
    content: "";
    display: none;
}

/*==========================
        CONTACT US
============================*/

.form-sub-title {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 50px;
}

.contact_form .form-control {
    box-shadow: none !important;
    height: 44px;
    border-radius: 0px;
}

.contact_form .form-control:focus {
    border-color: #000;
}

.contact_form textarea.form-control {
    height: auto;
}

.error {
    margin: 8px 0px;
    display: none;
    color: red;
}

.error_msg {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: red;
    font-weight: 700;
}

.gig_loader {
    display: none;
}

#success_msg {
    text-align: center;
    margin-bottom: 20px;
}

#success_msg h3 {
    color: #0dba26;
    font-size: 22px;
}

/*==========================
        RESPONSIVE
============================*/

@media (max-width: 991px) {
    .custom-nav {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: var(--accent-dark) !important;
    }

    .custom-nav .navbar-nav li a:before {
        content: "";
        display: none;
    }

    .custom-nav .navbar-nav li a {
        margin: 0 0px;
        padding: 6px 0;
        color: var(--accent-light) !important;
    }

    .custom-nav .navbar-nav li.active a {
        color: var(--accent-light) !important;
    }

    .custom-nav > .container {
        width: 90%;
    }

    .custom-nav .navbar-brand.logo img {
        height: 26px;
    }

    .navbar-nav {
        margin-top: 0px;
    }

    .navbar-toggler {
        font-size: 29px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: var(--accent-light);
    }

    .header_title {
        font-size: 40px;
        line-height: 1.2;
        height: 96px;
    }

    .header_subtitle {
        font-size: 15px;
        line-height: 1.8;
    }

    .home-bg {
        padding: 110px 0 80px 0;
    }

    .custom-nav .navbar-brand.logo img {
        height: 26px;
    }

    .about-detail .about-work li::after,
    .work_menu li:after {
        display: none;
        content: "";
    }

    .about-detail .about-work li {
        margin-right: 7px;
        margin-left: 7px;
    }

    .copy-rights {
        line-height: 26px;
    }

    .float_none.float-right,
    .float_none.float-left {
        float: none !important;
        text-align: center;
    }
}
