body {
    background-color: #2B2B2B;
    min-width: 300px;
}

.intro {
    width: 204px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.intro-pic {
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 50px;
    box-shadow: 0 0 0 8px #ffffff;
}

h1 {
    color: #BBA14f;
    text-align: center;
    font: 2em 'opensans-bold', sans-serif;
    margin: 12px;
    margin-top: 8px;
}

.social-links {
    height: fit-content;
    text-align: center;
    margin: 0 15px 24px 15px !important;
}

.social-links ul {
    margin: 0 !important;
}

.social-links li {
    display: inline;
    margin: 0 5% 0 5% !important;
}

.social-links i {
    background-color: #444444;
    padding: 10px;
    border-radius: 5px;
}

.social-links a {
    color: #BBA14f;
}

.contact {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1em;
}

.download {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 176px;
}

.move-button {
    height: 50px;
}

.contact-links div {
    background-color: #444444;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.contact-links div p {
    color: #ffffff;
    font: 14px 'opensans-bold', sans-serif;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.contact-icon {
    position: relative;
    height: 60px;
    width: 60px;
    top: -50px;
    float: right;
    right: -10px;
}

.contact-icon i {
    padding: 15px;
    color: #BBA14f;
}

.fix1 {
    top: -65px;
}

.fix2 {
    right: -70px;
}

.gold {
    color: #BBA14f !important;
}

.border-bottom {
    border-bottom: solid 1px #151515;
    padding-bottom: 6px !important;
    margin-bottom: 6px !important;
}

.no-desk {
    display: hidden;
}

.no-desk-message {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .no-desk {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(15, 15, 15, 0.95);
    }

    .no-desk-message {
        display: block;
        margin: 0;
        position: absolute;
        width: 350px;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .no-desk-icon {
        position: relative;
    }

    .proceed a {
        color: #838C95;
        border-bottom: solid 1px #838C95;
    }

    .proceed a:hover {
        cursor: pointer;
        color: #5f666d;
        border-bottom: solid 1px #5f666d;
    }
}